 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}
.dark{
    background-color: #222;
    color: #e6e6e6;
}

body{
    background: rgb(243, 241, 240);
}
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track-piece {
    margin: 5px;
  }
  ::-webkit-scrollbar-corner{
    display: none;
  }

/* --------- Navbar css------------ */

.navbar{
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 0.6rem;
    justify-content: space-between;
}
#darkmode{
    cursor: pointer;
}
.left{
    display: flex;
    width: 55vw;
    align-items: center;
    justify-content: space-between;
}
.searchbox{
    background-color: #e5e5e5;
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 2rem;
    border-radius: 1.7rem;
}
.dark .searchbox{
    background-color: rgb(134, 121, 121);
}
.right{
    display: flex;
    flex: 0.4;
    justify-content:space-around;
    align-items: center;
    height: 1.7rem;
    padding: 0 1rem;
}
i{
    margin: 0% 0.5rem;
}
 
.profile{
    background: white;
    border-radius: 100%;
    padding: 5px;
}
.dark .profile{
    background-color: #333;
}
/* ------------- Vetical nav css --------------*/

.verticalnav{
    height: calc(100vh - 3rem);
    width: 4rem;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    gap: 2rem;
}

.house{
    background: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 5px;
}
 .dark .house{
    background-color: #333;
}

/* homesection css  */
.homesection{
    display: flex;
}

.home{
    background: rgb(241, 232, 232);
    width: calc(100vw - 4rem);
    padding: 1rem;
    border-radius: 2.5rem 2.5rem 0 0;
}
.dark .home{
    background-color: #333;}
    /*-----------leftside-menu-----*/
.sidemenu {
    position: fixed;
    height: calc(100vh - 20px);
    width: 260px;
    bottom: 0;
    left: 0;
    padding: 1rem 1rem;
    border-radius: 0 2rem 2rem 0;
    background: #999;
    z-index: 1000;
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  .dark .sidemenu{
    background-color: rgb(31, 26, 26);
}
  .sidemenu-heading {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .sidemenufunctions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  #menuclose {
    cursor: pointer;
  }
  .sidemenu-footer img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 0.5rem;
  }
  .sidemenu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 2.7rem;
  }
  .hideSidemenu {
    transform: translateX(-260px);
  }
/*---------------result below section-----------------*/
.status{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    
}

.numbers{
    display: flex;
    
}
.heading{
    display: flex;
    
}
.result{
    flex: 1;
    padding: .5rem 1rem;
    }
    .resultheading{
        padding: 0 1.5rem;
    }
.iconright{
    flex: 1;

}
.date{
    text-align: right;
    padding: 0.5rem 1rem;
}
.icon{
    text-align: right;
    padding: 0.5rem 1rem;
 
}
/*---------category of subjects------*/
.category-box{
    display: flex;
    overflow-y: hidden;
    padding-bottom: 1rem;
}
.category{
    position: relative;
    width: max-content;
    display: flex;
    margin: 1rem;
    justify-content: center;

}
.category-thumbnail{

 width: 170px;
 height: 170px;
 border-radius: 999px;
 background: rgb(204, 192, 255);
}
.category-heading{
position: absolute;
width: max-content;
height: max-content;
padding: 12px 24px;
bottom: -20px;
background: orange;
border-radius:150px ;
}
/*-----------videos part ---------*/
.video-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: .8rem;
    justify-content: center;
}
.video-header{
display: flex;
justify-content: space-between;
}
.video-box{
    height: auto;
    padding: 1rem;
    width: 325px;
    margin: .8rem;
    background: rgb(178, 229, 186);
    position: relative;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.dark .video-box{
    background-color: #333;
}
.video{
    height: 130px;
    width: 100%;
    margin: .7rem auto;
    background: rgb(216, 143, 209);
    border-radius:15px;
}
 
.video-rating{
    display: flex;
}
.heading-rating{
    display: flex;
    justify-content: space-between;
}
.videobox-button{
 padding: .4rem .8rem;
 background: rgb(236, 10, 217);
 width: max-content;
 height: max-content;
 align-self: flex-end;
 color: white;
 border-radius: 1rem;

}
